.section-6{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
}

.can-card{
    padding: 5px 15px ;
    border: 4px solid black;
    transition: .5s ease;
    cursor: pointer;
    height: 10vw;
}
.can-card:hover{
    background-color: aquamarine;
    transition: .5s ease;
}

.can-card:hover .can-img{
    transform: scale(1.1);
    transition: .5s ease;
}

.can-heading{
    font-weight: 500;
}

.can-desc{
    font-size: 12px;
}

.card-right{
    height: 80px;
    width: 40px ;
}

.can-img{
    width: 90px;
    transition: .5s ease;
}

.img-style-1{
    transform: rotateZ(12deg);
}

.img-style-2{
    transform: rotateZ(-12deg);
}

.can-model{
    height: 80vh;
    width: 400px;
}

.giphy{
    width: 400px;
}